apiVersion: v1
kind: Pod
metadata:
  name: app-pod
spec:
  containers:
  - name: app
    image: nginx:1.25
    volumeMounts:
    - name: config-volume
      mountPath: /etc/config       # 이 경로에 파일로 마운트
  volumes:
  - name: config-volume
    configMap:
      name: app-config